<a href="https://colab.research.google.com/github/gianninimail/ppd/blob/main/Lab01_PPD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploração dos Dados - Seleção

In [23]:
import pandas as pd #Importando Libs para exploração do dados

In [24]:
df = pd.read_csv('/content/drive/MyDrive/PPD/files/results.csv')

In [25]:
df #Mostrar resumo dos dados

            date       home_team  ...    country  neutral
0     1969-11-01           Italy  ...      Italy    False
1     1969-11-01         Denmark  ...      Italy     True
2     1969-11-02         England  ...      Italy     True
3     1969-11-02           Italy  ...      Italy    False
4     1975-08-25        Thailand  ...  Hong Kong     True
...          ...             ...  ...        ...      ...
4291  2021-04-10          Sweden  ...     Sweden    False
4292  2021-04-11       Argentina  ...      Spain     True
4293  2021-04-11  Basque Country  ...      Spain     True
4294  2021-04-11  Basque Country  ...      Spain     True
4295  2021-04-14          France  ...     France    False

[4296 rows x 9 columns]

In [26]:
df.head(10) # Mostra primeiras linhas do DF

         date    home_team    away_team  ...       city    country neutral
0  1969-11-01        Italy       France  ...     Novara      Italy   False
1  1969-11-01      Denmark      England  ...      Aosta      Italy    True
2  1969-11-02      England       France  ...      Turin      Italy    True
3  1969-11-02        Italy      Denmark  ...      Turin      Italy   False
4  1975-08-25     Thailand    Australia  ...  Hong Kong  Hong Kong    True
5  1975-08-25    Hong Kong  New Zealand  ...  Hong Kong  Hong Kong   False
6  1975-08-27     Thailand    Singapore  ...  Hong Kong  Hong Kong    True
7  1975-08-27  New Zealand     Malaysia  ...  Hong Kong  Hong Kong    True
8  1975-08-29    Australia    Singapore  ...  Hong Kong  Hong Kong    True
9  1975-08-29    Hong Kong     Malaysia  ...  Hong Kong  Hong Kong   False

[10 rows x 9 columns]

In [27]:
df.shape

(4296, 9)

In [28]:
df.describe() # Estatísticas descritivas básicas

        home_score   away_score
count  4296.000000  4296.000000
mean      2.327747     1.428771
std       2.787989     1.999546
min       0.000000     0.000000
25%       0.000000     0.000000
50%       2.000000     1.000000
75%       3.000000     2.000000
max      24.000000    24.000000

In [29]:
list(df)

['date',
 'home_team',
 'away_team',
 'home_score',
 'away_score',
 'tournament',
 'city',
 'country',
 'neutral']

In [30]:
df['home_team'].unique()

array(['Italy', 'Denmark', 'England', 'Thailand', 'Hong Kong',
       'New Zealand', 'Australia', 'Taiwan', 'Indonesia', 'Singapore',
       'Sweden', 'Northern Ireland', 'France', 'Switzerland', 'Wales',
       'India S', 'India N', 'Western Australia', 'India', 'Japan',
       'Finland', 'Norway', 'Iceland', 'Scotland', 'Belgium',
       'Netherlands', 'Republic of Ireland', 'Portugal', 'Germany',
       'Malaysia', 'Philippines', 'New Caledonia', 'Hungary', 'Spain',
       'China PR', 'Bulgaria', 'Czechoslovakia', 'Poland', 'North Korea',
       'Nigeria', 'Ghana', 'Canada', 'Haiti', 'United States',
       'Martinique', 'Trinidad and Tobago', 'Jamaica', 'Brazil', 'Chile',
       'Guinea', 'Papua New Guinea', 'Cameroon', 'Russia', 'Greece',
       'Romania', 'Yugoslavia', 'Lithuania', 'Ukraine', 'Latvia',
       'Slovenia', 'Slovakia', 'Croatia', 'Czech Republic', 'Mexico',
       'South Africa', 'Sierra Leone', 'Zambia', 'Argentina', 'Ecuador',
       'Angola', 'Austria', 'Uzbekistan', 'Faroe Islands', 'South Korea',
       'Kazakhstan', 'FR Yugoslavia', 'Belarus', 'Estonia', 'Turkey',
       'Paraguay', 'Colombia', 'Uruguay', 'Venezuela', 'Bolivia', 'Peru',
       'Mozambique', 'Egypt', 'Uganda', 'Eswatini', 'Lesotho',
       'Guatemala', 'El Salvador', 'Costa Rica', 'Puerto Rico', 'Fiji',
       'DR Congo', 'Morocco', 'Honduras', 'Nicaragua',
       'Bosnia and Herzegovina', 'Israel', 'Vietnam', 'Guam', 'Gabon',
       'Réunion', 'Zimbabwe', 'Algeria', 'Dominican Republic',
       'Saint Lucia', 'Panama', 'Suriname', 'Tanzania',
       'Equatorial Guinea', 'Mali', 'Ethiopia', 'Senegal', 'Eritrea',
       'São Tomé and Príncipe', 'Ivory Coast', 'Cook Islands', 'Samoa',
       'Armenia', 'Serbia and Montenegro', 'Malta', 'Congo', 'Malawi',
       'Myanmar', 'Benin', 'Togo', 'Barbados', 'Antigua and Barbuda',
       'Cayman Islands', 'Kenya', 'Netherlands Antilles',
       'British Virgin Islands', 'U.S. Virgin Islands', 'Bermuda',
       'Aruba', 'Saint Kitts and Nevis',
       'Saint Vincent and the Grenadines', 'Dominica', 'Grenada',
       'Luxembourg', 'Macedonia', 'Georgia', 'Azerbaijan', 'Tonga',
       'Serbia', 'Iran', 'Tunisia', 'Kyrgyzstan', 'Palestine', 'Maldives',
       'Jordan', 'Guyana', 'Namibia', 'Botswana',
       'Turks and Caicos Islands', 'Anguilla', 'Cuba', 'Solomon Islands',
       'Tahiti', 'Vanuatu', 'Great Britain', 'Bangladesh', 'Bahrain',
       'Lebanon', 'Burkina Faso', 'Rwanda', 'Belize', 'Comoros',
       'Moldova', 'Andorra', 'Albania', 'Montenegro', 'Libya',
       'Mauritius', 'Tajikistan', 'United Arab Emirates', 'Iraq',
       'Kosovo', 'Syria', 'Central African Republic', 'Gambia',
       'Guadeloupe', 'Curaçao', 'American Samoa', 'Basque Country'],
      dtype=object)

In [31]:
df.loc[df['home_team'] == 'Italy'] #Declaração explícita do LOC

            date home_team         away_team  ...          city  country neutral
0     1969-11-01     Italy            France  ...        Novara    Italy   False
3     1969-11-02     Italy           Denmark  ...         Turin    Italy   False
24    1979-07-18     Italy  Northern Ireland  ...        Naples    Italy   False
32    1979-07-22     Italy            Norway  ...     Benevento    Italy   False
36    1979-07-25     Italy           England  ...        Naples    Italy   False
...          ...       ...               ...  ...           ...      ...     ...
3924  2018-04-10     Italy           Belgium  ...       Ferrara    Italy   False
4018  2018-06-08     Italy          Portugal  ...      Florence    Italy   False
4226  2019-06-18     Italy            Brazil  ...  Valenciennes   France    True
4239  2019-06-25     Italy          China PR  ...   Montpellier   France    True
4243  2019-06-29     Italy       Netherlands  ...  Valenciennes   France    True

[80 rows x 9 columns]

In [32]:
df[df['home_team'] == 'Italy'] #Declaração implícita do LOC

            date home_team         away_team  ...          city  country neutral
0     1969-11-01     Italy            France  ...        Novara    Italy   False
3     1969-11-02     Italy           Denmark  ...         Turin    Italy   False
24    1979-07-18     Italy  Northern Ireland  ...        Naples    Italy   False
32    1979-07-22     Italy            Norway  ...     Benevento    Italy   False
36    1979-07-25     Italy           England  ...        Naples    Italy   False
...          ...       ...               ...  ...           ...      ...     ...
3924  2018-04-10     Italy           Belgium  ...       Ferrara    Italy   False
4018  2018-06-08     Italy          Portugal  ...      Florence    Italy   False
4226  2019-06-18     Italy            Brazil  ...  Valenciennes   France    True
4239  2019-06-25     Italy          China PR  ...   Montpellier   France    True
4243  2019-06-29     Italy       Netherlands  ...  Valenciennes   France    True

[80 rows x 9 columns]

In [33]:
df[(df['home_team'] == 'Italy') & (df['away_team'] == 'Brazil')]

            date home_team away_team  ...          city  country neutral
4226  2019-06-18     Italy    Brazil  ...  Valenciennes   France    True

[1 rows x 9 columns]

In [34]:
df['date'].str.slice(start=0, step=1, stop=4)

0       1969
1       1969
2       1969
3       1969
4       1975
        ...
4291    2021
4292    2021
4293    2021
4294    2021
4295    2021
Name: date, Length: 4296, dtype: object

In [56]:
df_com_ano = df

df_com_ano['ano'] = df['date'].str.slice(start=0, step=1, stop=4)

In [36]:
df_com_ano.head()

         date home_team  away_team  ...    country  neutral   ano
0  1969-11-01     Italy     France  ...      Italy    False  1969
1  1969-11-01   Denmark    England  ...      Italy     True  1969
2  1969-11-02   England     France  ...      Italy     True  1969
3  1969-11-02     Italy    Denmark  ...      Italy    False  1969
4  1975-08-25  Thailand  Australia  ...  Hong Kong     True  1975

[5 rows x 10 columns]

# Exploração dos Dados - Sumarização

In [37]:
dfBrasil = df[df['country'] == 'Brazil'] # Filtrando todos jogos que aconteceram no Brasil

In [38]:
dfBrasil.head(10)

           date  home_team  away_team  ...  country  neutral   ano
381  1991-04-28     Brazil      Chile  ...   Brazil    False  1991
383  1991-05-01      Chile  Venezuela  ...   Brazil     True  1991
385  1991-05-05     Brazil  Venezuela  ...   Brazil    False  1991
639  1995-01-08     Brazil    Ecuador  ...   Brazil    False  1995
640  1995-01-08      Chile    Bolivia  ...   Brazil     True  1995
642  1995-01-10     Brazil      Chile  ...   Brazil    False  1995
643  1995-01-10  Argentina    Ecuador  ...   Brazil     True  1995
644  1995-01-12  Argentina    Bolivia  ...   Brazil     True  1995
645  1995-01-12      Chile    Ecuador  ...   Brazil     True  1995
646  1995-01-14     Brazil  Argentina  ...   Brazil    False  1995

[10 rows x 10 columns]

In [39]:
dfBrasil['country'].count()

44

In [40]:
df[df['country'] == 'Brazil']['country'].count()

44

In [41]:
dfBrasil['city'].nunique()

8

In [42]:
score_home = dfBrasil[dfBrasil['home_team'] == 'Brazil']['home_score'].sum()

score_home

68

In [43]:
 df[df['home_team'] == 'Brazil']['home_score'].sum()

298

In [44]:
df[(df['home_team'] == 'Brazil') & (df['country'] != 'Brazil')]['home_score'].sum()

230